extends menu.pug

block content

        h2 tamaño del array
        form(action="ejercicioOcho" method="POST")
            input(type="number" name="array")
            input(class="btn btn-danger" type="submit", value="Generar")
        h2 Numeros: #{numeros}
        h2 Suma par: #{sumaPares} 
        h2 Suma Impar: #{sumaImpares}
        h2 No Pares: #{cantPares}
        h2 No Impares: #{cantImpares}