extends menu.pug

block content

        form(action="ejercicioCinco" method="POST")
            - for(var i = 1; i <= 10; i++) {
                h2= "numero" + " " + i
                input(type="number" name="num" + i)
            - }
            input(class="btn btn-danger" type="submit", value="Generar")
            
        h3 el numero mayor es: #{numMayor}
        h3 el numero menor es: #{numMenor}
        h3 pares: #{pares}
        h3 impares: #{impares}
